<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container vh-100 d-flex justify-content-center align-items-center">

    <div class="card shadow p-4" style="width: 600px;">

        <h2 class="text-center mb-4">Edit Task</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <input type="text"
                       name="task"
                       value="{{ task.task }}"
                       class="form-control form-control-lg">
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">
                    Update Task
                </button>
            </div>

        </form>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>